.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.Cards {
    width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;
}

.Cards:hover {
    transform: scale(1.05);
}

.card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.name {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.maney {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.maney p {
    font-size: 16px;
    color: #666;
  }
.saralash {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.saralash i {
    font-size: 18px;
    background: white;
    padding: 10px;
    border-radius: 50%;
}


.fa-heart {
    font-size: 24px; 
    transition: all 0.3s ease-in-out; 
}

.liked {
    color: red; 
    background: white;
}
.fa-shopping-cart {
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
  }
  
  .fa-shopping-cart:hover {
    color: #0056b3;
  }






  .qidiruv {
    margin: 100px auto;
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    transition: all 0.3s ease;
  }
  
  .qidiruv img {
    width: 250px; 
    margin-bottom: 20px;
    opacity: 0.95;
  }
  
  .qidiruv h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .qidiruv p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
  }
  